<template>
  <v-container class="fill-height">
    <v-responsive class="align-centerfill-height mx-auto" max-width="900">
      <v-img class="mb-4" height="150" src="@/assets/logo.png" />

      <div class="text-center">
        <div class="text-body-2 font-weight-light mb-n1">Welcome to</div>

        <h1 class="text-h2 font-weight-bold">Game</h1>
      </div>

      <v-card>
        <v-number-input
          v-model="sizeX"
          :max="20"
          :min="0"
          label="Size X"
        ></v-number-input>
        <v-number-input
          v-model="sizeY"
          :max="20"
          :min="0"
          label="Size Y"
        ></v-number-input>
      </v-card>

      <!-- Grid of squares -->
      <div class="grid">
        <div v-for="row in rows" :key="row" class="row">
          <div
            v-for="col in cols"
            :key="col"
            class="square"
            @mouseover="toggleSquare(row, col)"
            :class="{ blue: squares[row][col], white: !squares[row][col] }"
          ></div>
        </div>
      </div>
    </v-responsive>
  </v-container>
</template>

<script setup>
import { VNumberInput } from "vuetify/labs/VNumberInput";
import { ref, watch, onMounted } from "vue";

const sizeX = ref(0);
const sizeY = ref(0);
const squares = ref([]);
const rows = ref([]);
const cols = ref([]);

// Draw grid function
const drawGrid = () => {
  rows.value = Array.from({ length: sizeX.value }, (_, i) => i);
  cols.value = Array.from({ length: sizeY.value }, (_, i) => i);
  squares.value = Array.from({ length: sizeX.value }, () =>
    Array.from({ length: sizeY.value }, () => false)
  );
};

// Toggle square color function
const toggleSquare = (row, col) => {
  squares.value[row][col] = !squares.value[row][col];
};

// Watchers
watch([sizeX, sizeY], () => {
  drawGrid();
});

// Lifecycle hook
onMounted(() => {
  drawGrid();
});
</script>

<style>
.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: 36px;
  height: 36px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.square.blue {
  background-color: blue;
}
</style>
